{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MySHEQV1</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
</head>
<body>

<!-- <a href="{% url 'login_view' %}"> login </a> <br> -->
<!-- <a href="{% url 'signin_view' %}"> signin </a> -->



    <!-- Start: Navbar -->
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#">MySHEQSpace</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'login_view' %}" style="font-size: 20px;">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End: Navbar -->
    <!-- Start: body -->
    <div class="container">
        <div class="row">
            <!-- Start: content -->
            <div class="col-md-12 col-lg-12 offset-md-0">
                <!-- Start: Heading -->
                <div class="heading_tag">
                    <h1>MySHEQSpace</h1>
                </div>
                <!-- End: Heading -->
                <!-- Start: Home -->
                <section>
                    <div>
                        <p class="text-para">At MySHEQSpace, we are dedicated to providing top-notch SHEQ services to help organizations meet their safety, health, environmental and quality obligations. We understand the importance of a safe working environment and strive
                            to help our clients create and maintain a culture of safety, health, environmental awareness and quality. Our team of experts leverages cutting-edge technology and systems to provide comprehensive SHEQ services that are customized
                            to meet the unique needs of your organization. Our services include:<br></p>
                        <div>
                            <ul class="text-para">
                                <li>SHEQ Management System</li>
                                <li>Risk Assessment and Management</li>
                                <li>Incident Investigation and Reporting</li>
                                <li>Safety Audits and Inspections</li>
                                <li>Health and Safety Training</li>
                                <li>Safety Audits and Inspections</li>
                                <li>Safety Audits and Inspections</li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- End: Home -->
                <!-- Start: About us -->
                <section>
                    <div>
                        <p class="text-para">With MySHEQSpace, you can rest assured that your organization is in safe hands. Our team is highly experienced and knowledgeable, and our commitment to providing exceptional SHEQ services is second to none. We work closely with
                            our clients to ensure that all their SHEQ needs are met and that their organizations are fully compliant with all relevant laws, regulations and standards.<br></p>
                    </div>
                </section>
                <!-- End: About us -->
                <!-- Start: Contactus -->
                <section>
                    <div>
                        <p class="text-para">At MySHEQSpace, we believe that technology is key to delivering effective SHEQ services. That's why we've invested in advanced technology and systems that enable us to provide real-time data and insights, streamline processes and
                            improve efficiency. Our platform is user-friendly, easy to use and accessible from any device, anywhere, at any time.<br></p>
                    </div>
                    <div>
                        <p class="text-para">Whether you're looking to improve your organization's safety culture, manage your environmental impact or ensure that your products and services meet the highest quality standards, MySHEQSpace has the expertise, technology and
                            systems to help you achieve your goals.<br>Get in touch with us today to learn more about how we can help you meet your SHEQ obligations and create a safe, healthy, environmentally conscious and quality-focused organization.<br>Whether
                            you're looking to improve your organization's safety culture, manage your environmental impact or ensure that your products and services meet the highest quality standards, MySHEQSpace has the expertise, technology and systems
                            to help you achieve your goals.<br>Get in touch with us today to learn more about how we can help you meet your SHEQ obligations and create a safe, healthy, environmentally conscious and quality-focused organization.<br><br>Whether
                            you're looking to improve your organization's safety culture, manage your environmental impact or ensure that your products and services meet the highest quality standards, MySHEQSpace has the expertise, technology and systems
                            to help you achieve your goals.<br>Get in touch with us today to learn more about how we can help you meet your SHEQ obligations and create a safe, healthy, environmentally conscious and quality-focused organization.<br><br>Whether
                            you're looking to improve your organization's safety culture, manage your environmental impact or ensure that your products and services meet the highest quality standards, MySHEQSpace has the expertise, technology and systems
                            to help you achieve your goals.<br>Get in touch with us today to learn more about how we can help you meet your SHEQ obligations and create a safe, healthy, environmentally conscious and quality-focused organization.<br></p>
                    </div>
                </section>
                <!-- End: Contactus -->
            </div>
            <!-- End: content -->
        </div>
    </div>
    <!-- End: body -->
    <!-- Start: Footer -->
    <footer>
        <div>
            <p class="footer_text">MySHEQSpace @2023 powered by Hulela Projects</p>
        </div>
    </footer>
    <!-- End: Footer -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</body>
</html>