{% extends 'MS/template/base.html' %}

{% block content %}

    <div class="container">


        <div>
            <h1> Approve - {{main_doc.document_name}}</h1>
        </div>

        <div class="col offset-xl-0">
            <form class="form_setup" action="{% url 'approve_item' main_doc.id %}" method="POST">
                {% csrf_token %}

                <div>
                    <label class="form-label">Purpose of the procedure?</label>
                    <textarea class="form-control" name = "purpose"  >{{main_doc.purpose}}</textarea>
                </div>

                <div>
                    <label class="form-label">Scope of the procedure?</label>
                    <textarea class="form-control" name = "scope" >{{main_doc.scope}}</textarea>
                </div>

                <div class="form_label_log">
                    <label class="form-label">1. Who will be responsible to implement ?</label>
                    <select name="document_owner" class="form-control">
                        <option > {{main_doc.document_owner}} </option>
                            {% for user in user_infor %}
                                <option value="{{ user.user }}">{{ user.user }}</option>
                            {% endfor %}
                    </select>
                </div>

                <div class="form_label_log">
                        <label class="form-label">2. How frequent will the&nbsp;external and internal issues&nbsp;register be reviewed?</label>

                    <select name="revision_frqcy" class="form-control">
                            <option value = "{{main_doc.revision_frq.id}}" > {{main_doc.revision_frq}} </option>
                                {% for frq in frqs %}
                                    <option value="{{ frq.id }}">{{ frq.months }}</option>
                                {% endfor %}
                            </select>
                </div>



                <div>
                     <input class="btn" type = Submit value = "Approve"></input>
                </div>

            </form>
        </div>

    </div>

{% endblock %}