{% extends 'MS/template/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHEQMS</title>
</head>

{%  block content %}

 <a class="btn btn-outline-info" href="{% url 'createDocView'  %}"> Create new Document </a>
 <a class="btn btn-outline-info" href="{% url 'process'  %}"> Process </a>

<div>

    {% for procedure in procedure_list%}

    <div class="card">
        <a href="{% url 'procedure_view' procedure.id   %}"> {{ procedure.document_name }} </a>
        <a href="{% url 'update_view' procedure.id   %}"> Revise </a></a>
        <a href="{% url 'update_view' procedure.id   %}"> Obsolete </a></a>
    </div>
    <br>
    {% endfor %}

</div>


{% endblock%}
</body>
</html>