{% extends 'MS/template/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHEQMS</title>
</head>

{%  block content %}

 <a class="btn btn-outline-info" href="{% url 'process_create'  %}"> create new process </a>

<div class="container mt-3">
  <h2>All Company Process - {{ processes.count }}</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Department</th>
        <th>Process</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>

        {% for process in processes%}
      <tr>
        <td> {{ process.department}} </td>
          {% if process.status == 'Procedure' %}
            <td>{{ process.id}} </td>
          {% else %}
            <td><a href="{% url 'processProcedure' process.id %}">{{ process.process}}</a> </td>
          {% endif %}
        <td> {{ process.status}} </td>
      </tr>
        {% endfor %}

    </tbody>
  </table>
</div>



{% endblock%}
</body>
</html>